.~lock*
usage/customers/**
**.conf
**.yml
**.csv
**.log
**.exe
**.exe~
**.dll
**.so
**.dylib
**.out
**.test
**.db
**.db-journal

build/skus*
gcosts/gcosts*

# Google Cloud Platform master data
!build/gcp.yml
# Prepared and tested price information file
!/pricing.yml
# Mapping
!build/mapping.csv
# Test
!t/*.yml
# Tools
!tools/acceleratortypezone.csv
!tools/acceleratortyperegion.csv
!tools/acceleratortypes.csv
!tools/disktypes.csv
!tools/images.csv
!tools/imagescommunity.csv
!tools/imagesdeeplearning.csv
!tools/imageshpc.csv
!tools/machinetyperegion.csv
!tools/machinetypes.csv
!tools/machinetypezone.csv
!tools/regions.csv
!tools/zones.csv
# Example
!/usage/example.yml
# GitHub Actions
!.github/**/*.yml
# Gitpod
!/.gitpod.yml
# GolangCI-Lint
!/.golangci.yml