.~lock*
usage/customers/**
**.conf
**.yml
**.csv
**.log
/gcosts
# Google Cloud Platform master data
!build/gcp.yml
# Prepared and tested price information file
!/pricing.yml
# Mapping
!build/mapping.csv
# Test
!t/*.yml
# Tools
!tools/disk_types.csv
!tools/machine_types.csv
!tools/regions.csv
!tools/zones.csv
# Example
!/usage/example.yml
# GitHub Actions
!.github/workflows/*.yml
